@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

body {
    font-family: 'Playfair Display', serif;
}
